ControlMantenimiento-NetDesktop/.vs/ControlMantenimiento-NetDesktop/v15/
ControlMantenimiento-NetDesktop/ControlMantenimiento-NetDesktop/bin/
ControlMantenimiento-NetDesktop/ControlMantenimiento-NetDesktop/obj/
*.suo
Source/ControlMantenimiento-NetDesktop/ControlMantenimiento-NetDesktop/bin/
Source/ControlMantenimiento-NetDesktop/ControlMantenimiento-NetDesktop/obj/
Doc/Desktop/Ayuda.chw
Source/ControlMantenimiento.Model/obj/
Source/ControlMantenimiento.Model/bin/
Source/ControlMantenimiento.Data/obj/
Source/ControlMantenimiento.Data/bin/
Source/ControlMantenimiento.Web/obj/
Source/ControlMantenimiento.Web/bin/
Source/packages/
Source/ControlMantenimiento.Data.MySql/obj/
Source/ControlMantenimiento.Data.MySql/bin/
Source/ControlMantenimiento.Data.Oracle/obj/
Source/ControlMantenimiento.Data.Oracle/bin/
Source/ControlMantenimiento.Business/obj/
Source/ControlMantenimiento.Business/bin/
